body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.primary-color {
    background: #2b2a2a;
}

.secondary-color {
    background: #fff;
}

.control-color {
    color: white;
    background-color: orange;
}

.round-button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 0;
}

.round-button i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-button {
    width: 40px;
    height: 40px;
    font-size: 20px;
}

.medium-button {
    width: 2em;
    height: 2em;
    flex-shrink: 0;
}

.small-button {
    width: 1.3em;
    height: 1.3em;
    padding: 0;
    font-size: 0.8em;
}

.task-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #fff;
}

#inputTaskDescription {

}

#btnTaskTag {
    height: auto;
    width: auto;
    padding: 0.2em;
    border: 0;
    margin: 0.2em;
}

.input-task {
    height: auto;
    width: 100%;
    padding: 0.5em;
}

.create-task-modes {
    display: block;
    margin: 0 0.2em;
    padding: 0;
    width: 1.5em;
    height: auto;
}

#btnTaskCreate {
    margin: 0.2em;
}

.input-container {
    margin: .2em;
}

.input-container input {
    box-sizing: border-box
} 

.input-container-description {
    width: 100%;
}

.input-container-time {
    width: 100px;
}

.view-nav h1 {
    width: fit-content;
}

.view-nav {
    display: flex;
    justify-content: space-between;
}

.view-nav .view-navigation-buttons {
    width: 50px;
}

.view-navigation-buttons .big-button {
    margin: 5px;
}

.view-nav .objective-description {
    display: inline-block;
}

.view-nav .objective-date {
    display: inline-block;
}

.view-nav .project-description {
    display: inline-block;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . .";
}

.view-nav h1 {
    width: fit-content;
}

.view-nav p {
    width: fit-content;
}

.view-nav .view-main-object {
    width: auto;
}

.view-nav .view-parent-object {
    width: auto;
    display: inline-block;
}

.view-nav .view-navigation-buttons {
    width: auto;
    display: inline-block;
}

.view-nav .view-nav-left-side {
    display: flex;
    justify-content: flex-end;
}